USE [WorkArrangement]
GO
/****** Object:  Table [dbo].[employee_work_arrangement_overrides]    Script Date: 6/5/2026 2:47:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_work_arrangement_overrides](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[is_working_day] [bit] NOT NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[shift_type] [varchar](20) NULL,
	[reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_work_arrangements]    Script Date: 6/5/2026 2:47:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_work_arrangements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[template_id] [int] NOT NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_arrangement_schedules]    Script Date: 6/5/2026 2:47:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_arrangement_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[template_id] [int] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[is_working_day] [bit] NOT NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[shift_type] [varchar](20) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_arrangement_templates]    Script Date: 6/5/2026 2:47:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_arrangement_templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee_work_arrangements] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_work_arrangements] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[work_arrangement_templates] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[work_arrangement_templates] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[work_arrangement_templates] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[employee_work_arrangements]  WITH CHECK ADD  CONSTRAINT [FK_emp_arrangement_template] FOREIGN KEY([template_id])
REFERENCES [dbo].[work_arrangement_templates] ([id])
GO
ALTER TABLE [dbo].[employee_work_arrangements] CHECK CONSTRAINT [FK_emp_arrangement_template]
GO
ALTER TABLE [dbo].[work_arrangement_schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_template] FOREIGN KEY([template_id])
REFERENCES [dbo].[work_arrangement_templates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[work_arrangement_schedules] CHECK CONSTRAINT [FK_schedules_template]
GO
